@using DonationApplication.data
@using DonationApplication.web.Models
@model HistoryViewModel


<h2>Application History for @Model.User.FirstName @Model.User.LastName</h2>

<table class="table table-hover table-striped">
    <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    @foreach(Application app in Model.Applications)
    {
        <tr>
            <td>@app.DateCreated</td>
            <td>@app.Amount.ToString("C")</td>
            <td>@app.Category.Name</td>
            <td>@app.Description</td>
            <td>@app.Status</td>
        </tr>
    }
</table>